<!DOCTYPE html>
<html lang="en" ng-app="store">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/application.css">
</head>

<body>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <!--<h1>{{"Hello" + " you"}}</h1>-->
    <div class="container" ng-controller="StoreController as store">
        <ul class="list-group">
            <li class="list-group-item row product" ng-repeat="product in store.products">
                <h3>{{product.name}}
                <em class="pull-right">{{product.price|currency}} </em></h3>
                <!--<p>{{product.description}}</p>-->
                <div ng-controller="GalleryController as gallery" ng-show="product.images.length">
                    <div class="img-wrap centre-block">
                        <img ng-src="{{product.images[gallery.current]}}" />
                    </div>
                    <ul class="img-thumbnails clearfix">
                        <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
                            <img ng-src="{{image}}" />
                        </li>
                    </ul>
                </div>
                <section ng-init="tab=1" ng-controller="PanelController as panel">
                    <ul class="nav nav-pills">
                        <li ng-class="{active:panel.isSelected(1)}"><a href="" ng-click="panel.selectTab(1)">Description</a></li>
                        <li ng-class="{active:panel.isSelected(2)}"><a href="" ng-click="panel.selectTab(2)">Specification</a></li>
                        <li ng-class="{active:panel.isSelected(3)}"><a href="" ng-click="panel.selectTab(3)">Reviews</a></li>
                    </ul>
                    <div class="panel" ng-show="panel.isSelected(1)">
                        <h4>Description</h4>
                        <p>{{product.description}}}</p>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(2)">
                        <h4>Specification</h4>
                        <ul class="list-unstyled">
                            <li>
                                <strong>Shine</strong> : {{product.shine}}</li>
                            <li>
                                <strong>Faces</strong> : {{product.faces}}</li>
                            <li>
                                <strong>Rarity</strong> : {{product.rarity}}</li>
                            <li>
                                <strong>Color</strong> : {{product.color}}</li>
                        </ul>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(3)">
                        <ul>
                            <h4>Reviews</h4>
                            <li ng-repeat="review in product.reviews">
                                <blockquote>
                                    <b>{{review.stars}}</b> {{review.body}}
                                    <cite class="clearfix">—{{review.author}}</cite>
                                </blockquote>
                            </li>
                        </ul>
                        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit='reviewForm.$valid && reviewCtrl.addReview(product)' novalidate>
                            <!--  Live Preview -->
                            <blockquote ng-show="reviewCtrl.review">
                                <strong> {{reviewCtrl.review.stars}} Stars</strong> {{reviewCtrl.review.body}}
                                <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
                            </blockquote>
                            <!--  Review Form -->
                            <h4>Submit a Review</h4>
                            <fieldset class="form-group">
                                <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" required>
                                    <option value="">Rate the Product</option>
                                </select>
                            </fieldset>
                            <fieldset class="form-group">
                                <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review" required></textarea>
                            </fieldset>
                            <fieldset class="form-group">
                                <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required />
                            </fieldset>
                            <div>Validate form: {{reviewForm.$valid}}</div>
                            <fieldset class="form-group">
                                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                            </fieldset>
                        </form>
                    </div>
                </section>
            </li>
        </ul>
    </div>
</body>

</html>
